body {
    font-family: Roboto, sans-serif;
    
}

.header {
    display: flex;
    justify-content:space-between;
    align-items:center;
}    

.container-one {
    background-color: #1F2937;
    width: auto;
    height: 500px;
    color: white;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-top: 150px;
    margin-bottom: 10px;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    margin: 100px;
}

.app > a {
    padding-left: 0;
}



button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
    border: none;
}
/*
.image {
    background-color: pink;
    width: 425px;
    
}

.image > img {
    width: 400px;
    height: auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
*/

.left, .right {
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    display: flex;
    font-size: 18px;
    padding: 12px;
}




.container-two {
    background-color: white;
    width: auto;
    height: 325px;
    color: #1F2937;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    margin-top: 30px;
    text-align: center;
}

.info{
    max-width: 150px;
    display: flex;
    flex-direction: column; 
    font-size: 18px;  
}

img {
    border-radius: 8px;
    margin-bottom: 7px;
}




.container-three {
    background-color: #E5E7EB;
    width: auto;
    height: 525px;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-three > p {
    max-width: 1100px;
    font-weight: 300;
}

.author {
    font-size: 24px;
    /*display: block;
    text-align: right;
    */
} 



.container-four {
    background-color: white;
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
     
}

div.blue-container {
    width: 1250px;
    height: 200px;
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: #F9FAF8;  
}

.closing-title {
    color: #F9FAF8;
    font-weight: 700;
    
    font-size: 24px;
    font-weight: 700;
}

.closing-text {
    font-size: 20px;
}

.closing-title, .closing-text {
    
}

.closing-app {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
}






.container-five {
    background-color: #1F2937;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}
