body {
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    justify-content:space-between;
    background-color: purple;
}    

.container-one {
    background-color: #1F2937;
    height: 500px;
    color: white;
}

.hero-title {
    font-size: 28px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    margin: 100px;
    background-color: orange;
    
}

.app > a {
    padding-left: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    padding: 8px;
    font-size: 16px;
    border: none;
}

img.parents {
    width: 400px;
    height: auto;
    margin-right: 50px;
}

.image-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;  
}


.left, .right {
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    background-color: green;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    display: flex;
    font-size: 18px;
    padding: 12px;
}




.container-two {
    background-color: white;
    min-width: 700px;
    height: 325px;
    color: #1F2937;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
}

.title {
    font-size: 22px;
    font-weight: bolder;
    margin-top: 30px;
    text-align: center;
}

.info{
    max-width: 150px;
    display: flex;
    flex-direction: column; 
    font-size: 18px;  
}

img {
    border-radius: 8px;
}



.container-three {
    background-color: #E5E7EB;
    width: auto;
    height: 525px;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-three > p {
    max-width: 1350px;
    font-weight: 300;
    margin: 30px;
    
}

.author {
    font-size: 24px;
} 



.container-four {
    background-color: white;
   
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    width: 1300px;
    height: 200px;
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;  
}

.closing-title {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px;
    font-weight: 700;
}

.closing-text {
    font-size: 20px;
}

.closing-app {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
}

.closing {
    padding-left: 50px;
}

a {
    padding-right: 50px;
}

.container-five {
    background-color: #1F2937;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}
